
/*-----------VARIABLES-------------*/

:root{
    --main-color:#374A9D;
    --main-hover-color:#05A4E6;
    --gray-page:#414141;

}

.btn-SIR{
    background-color: var(--main-color);
    color: white;
}

.btn-SIR:hover{
    background-color: var(--main-hover-color);
}

/*-----------NAVBAR-------------*/
#logo{
    width: 80px;
}

.navbar{
    background-color: #C8C8C8; 
}

.hide{
	transition: all 0.5s ease-out;
    opacity: 0;
    display: none;
    overflow: hidden;
}

.hide.active{
	opacity: 1;
    display: block;
}


