/*-----------VARIABLES-------------*/
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
:root {
    --main-color: #374a9d;
    --main-hover-color: #05a4e6;
    --gray-page: #414141;
    --gray-light: #c8c8c8 ;
}

.btn-SIR {
    background-color: var(--main-color);
    color: white;
}

.btn-SIR:hover {
    background-color: var(--main-hover-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    border-radius: 10px;
}


.no-border{
    border-color: transparent;
    background-color: white !important;
}

/*-----------HEADER-------------*/
#header {
    background-color: var(--gray-light);
}

#header img {
    width: 80px;
}
#header a {
    color: black;
}

/*-----------MAIN-------------*/
body{
    font-family: 'Heebo', sans-serif;
}

main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: rgb(56, 55, 55);
    background-blend-mode: soft-light;
    min-height: 35rem;
}

#main-text{
    margin: 2rem 0;
}

#main-row{
    min-height: 35rem;
}

#quote-card{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 65vh;
    border-radius: 20px;
    color: black;
    margin: 2.5rem auto 2.5rem auto;
    max-width: 30rem;
}

#btn-quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*-----------TRACK-TRACE-------------*/ 

#track-trace{
    min-height: 12rem;
    padding: 2rem;
}

/*-----------INFORMATION-------------*/

#information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50rem;
}

#info-user .m-top{
    margin-top: 36px;
}

/*-----------NEWS-------------*/
.container-news{
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#carouselExampleIndicators
{
    min-height:35rem; 
}

#cuadro {
    height: 7px;
    width: 168px;
    background-color: var(--gray-page);
    margin: auto;
}

.card-news{
    max-width: 25rem;
    margin: 1rem 0;
    border: solid 1px;
    border-color: var(--gray-light);
    font-size: 12px;
}

.button-carousel-left{
    padding: 10px 15px 10px 10px;
    margin: 10px;
    border-radius: 30px; 
}

.button-carousel-rigth{
    padding: 10px 10px 10px 15px;
    margin: 10px;
    border-radius: 30px; 
}

.button-carousel-left img, .button-carousel-rigth img{
    height: 20px;
}

.rotate{
    transform: rotate(-180deg)
}

/*-----------FOOTER-------------*/

#footer {
    background-color: var(--gray-page);
    color: gainsboro;
    padding-top: 55px;
    padding-bottom: 55px;
}

#footer #logo {
    height: 65px;
}

#footer .social img {
    height: 35px;
    padding-right: 22px;
}

/*==============ABOUT US VIEW =================*/

/*--------------------us----------------------*/

#Us {
    margin-top: 5rem;
}

#Us p {
    text-align: justify;
    margin: 40px 0 40px 0;
}

#Us img {
    width: 95%;
    border-radius: 10px;
}

#Us_content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#Us_content p,
#Us_content h2,
#Us_content ul {
    margin-top: 2rem;
}

/*==============CONTACT VIEW =================*/

/*------------------------------------------*/

#contact {
    margin-top: 50px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact img {
    width: 50px;
    margin: 1rem 0;
}

#messageArea {
    margin-top: 40px;
    margin-bottom: 50px;

}
#messageArea button {
    width: 120px;
    text-align: center;
}

#messageArea input,
#messageArea textarea,
#messageArea button {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 20px;
}


/*==============FAQs VIEW =================*/

/*------------------------------------------*/

#questions-card{
    margin: 25px auto 60px;
}

#questions-card .btn{
    width: 80%;
    display: block;
    margin: 10px auto;
    text-align: left;   
    color: black;

}

#questions-card .answer{
    width: 80%;
    margin: auto;
}

#faqs{
    min-height: 550px;
}

/*==============POSTS VIEW =================*/

/*------------------------------------------*/

 #title-blog{
    margin: 4rem 0;
 }

.posts .card{
   margin: 2rem 0rem;

   
}

.posts #posts-left-side{
    min-height: 22rem;
    margin: 1rem 0rem;
    padding-left: 1rem
}

.posts #posts-right-side{
    min-height: 18rem;
    padding: 0 1rem;

}

.posts img{
    margin: 1rem 0rem;
    border-radius: 5px;
}

.posts a {
    border-radius: 20px
}

#categories-card{
    background-color: var(--gray-light);
    border: 0;
}

#categories-card h4{
    margin: 1rem;
}

#categories-card li{
    list-style:none;
}

#categories-card a{
    color: black;
}

/*==============POST VIEW =================*/

/*------------------------------------------*/

.post .card{
    border: 0;
}

.post .card{
    border: 0;
}

/*==============Tariffs VIEW =================*/

/*------------------------------------------*/

.logo-company-tariff-card{
    max-height: 88px;
}

.container-results{
    min-height: 40rem;
}

.serch-img{
    max-height: 64px;
}

#tariff-right-card{
    min-height: 18rem;
}
/*==============Booking VIEW =================*/

/*------------------------------------------*/

#info-column{
    min-height: 25rem;
}

#info-inner{
    height: 80%;
}


/*==============SIDE NAV BAR (USER)=================*/

#profile-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}


/*==============PROFILE VIEW (USER) =================*/

#avatar-box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
}


